@font-face {
    font-family:"inter-Regular" ;
    src: url('fonts/Inter-Regular.woff2') format("woff2")
}
@font-face {
    font-family: "inter-bold";
    src: url('fonts/Inter-Bold.woff2') format("woff2")
}
@font-face {
    font-family: 'inter-SemiBold';
    src: url('fonts/Inter-SemiBold.woff2') format("woff2")
}
@font-face {
    font-family: 'roboto-regular';
    src: url('fonts/roboto-regular.woff2') format("woff2")
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color:#f1f3f6;
    font-family:"inter-Regualr"
}
header{
   position: fixed;
   display: flex;
   width: 100%;
   height:56px; 
   background-color: #2874f0;
   color: #f0f0f0;       
   flex-direction: row;  
  z-index: 999;
}  
     
.margin{     
    display: flex;
    flex-direction: row;  
    align-items: center;
    max-width: 1248px;
    margin: 0 auto;      
}           
.flipkart-icon{       
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 137px;  
}
.flipkart-icon img{
    display: blcok;
    width: 75px;  
     
}      
.icons{
    display: flex;   
    flex-direction: row;     
    font-size: 11px;     
    align-items: center;        
    font-style: italic;
    margin-top: -1px;
}
.icons img{
    width: 10px;    
    height: 10px; 
} 
.icons .explore{ 
    color: rgb(240,240,240); 
    line-height: 15.4px;  
    font-size: 11px;
    font-family: "roboto-regular";
} 
.icons .plus{      
    color: #ffe500;        
   font-weight: 500;
    margin-left: 2px; 
    font-size: 11px;
    font-style: italic;
}  
.input-alignment{
    width: 100%;
    max-width: 563px;    
}
.input-section{
    width: 100% ;
    margin-left: 12px;
    background-color: #fff;  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
    height: 36px; 
    position:relative;  
                  
}         
.input-section input{
    outline: none;   
    border: none;   
    padding: 0 16px;
    width: 1600px;
    border-radius: 2px;      
      
}
input::placeholder{   
     font-size:14px;  
     font-family: "inter-Regular";  
     font-family: Arial;       
}  
.input-section button{
    border: none; 
    background-color: #fff; 
    padding:4px 12px 1px 8px;   
}
.login{ 
    margin-left: 50px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    cursor: pointer; 
    font-size: 16px;
    letter-spacing: .1px;     
    font-weight: 500; 
    color:#2874f0;
    background-color: #fff;    
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    padding: 5px 40px;
    font-family: "inter-SemiBold";
} 
.seller a,span{   
    text-decoration: none;    
    color: #fff;
    font-size: 16px; 
    letter-spacing: .1px;                                                                                                                                                        
    font-weight: 500;
    display: flex;  
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    font-family: "inter-SemiBold";
    
}
.about{
    position:absolute;
    top:50px; 
    min-width: 240px; 
     border-color: #f0f0f0;
     text-align: left;
     right: 18%;
    transition: opacity .3s ease-in-out;
      border-radius: 3px;
      background: #fff;
      box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
      margin-top: 6px;
}
.about span{
     color: #212121;
     margin-left: 12px;
     font-size: 14px;
    font-weight: 400;
    font-family: "inter-Regular";
}
.about ul li{
    padding: 16px 12px;
    border-bottom: 1px solid #f0f0f0;
}
.about ul{ 
    text-align: left; 
}   
.about ul a{
   list-style-type: none;
   display: flex;
}
.about ul li a{
   text-decoration: none;
}
.design{
    left: 50%;
    transform: translateX(-10px);
    bottom: 100%;
    border-bottom-color: #f0f0f0;
    border-width: 10px;
    position: absolute; 
    top:20px;
}  
.design::after{
    border: solid transparent;
}

.more {
    color: #fff; 
    margin:0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    font-weight: 500;
    font-size: 16px; 
    font-family: "inter-SemiBold";           
      
}
.more a{    
    text-decoration: none;
    color: #fff;
}
.more svg{    
    transform: rotate(270deg); 
    margin-left: 8px;
    width: 4.7;
    height: 8;
}
.cart{
   
     display: flex;     
    flex-direction: row;  
    align-items:center;
    
}
.cart svg{
    margin: 0 8px;
}
.cart a{
    text-decoration: none;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
     font-family: "inter-SemiBold";
} 
nav{
    position: relative;
    top: 56px;
    min-height: 40px;
    color: #000;
    width: 100%; 
    z-index:5;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);  
    background-color: #fff;
} 
nav .ul-list{
    display: flex;
    max-width:1248px;
    margin: auto;
    height: 100%;
    justify-content: space-between;
    align-items: center; 
}    
nav ul li{  
    list-style-type: none;
    display: flex;
    align-items: center;     
    color: black;
    cursor: pointer;
     flex-grow: 1;                                                                                                                       
     font-weight: 500;
     align-items: center;
     font-family: "roboto-regular";
     font-size: 14px;
}
nav ul li svg{   
    fill:#878787;
    opacity: .5;
    margin-left: 8px;
    transform: rotate(270deg);
}
main{
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    padding: 8px;
    width: 100%;
   }   
.entire-container{
    max-width: 1700px; 
    margin: 0 auto;    
    display: flex;
    flex-direction:row;  
    position: relative;
} 
.section-one{ 
    display: flex; 
    flex:0 0 280px;
    flex-direction: column;
    padding:0px 10px 0px 0px;
    background-color: #fff;
    color: black;
    margin-right: 10px;  

}  
.section-two{
    display:flex;  
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    background-color: #fff;     
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.06);
}
.Sub-section1{
  padding: 16px;
  padding-bottom: 12px;        
  border-bottom: 1px solid #f0f0f0;
}      
.filter-title{
    width: 67%;
    text-transform: capitalize;
    width: 67%;
    color: black;
    font-family: "inter-bold";

}
.categories{
     font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #212121;  
    margin-bottom: 5px;  
    font-family: "inter-bold";     
}  
.mobile{
    padding: 5px 0;

} 
.mobile svg{
    margin-right:5px;
}  
.mobile a{
    color: #878787;
    font-size: 14px;
    font-family: 'roboto-regular'; 
    font-weight: 400;
    line-height: 1.4px;
}
.device{
    margin-left: 18px;
    padding: 5px 0;
    font-family: 'inter-SemiBold';
    font-weight: 500;
}
.price{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'inter-SemiBold';
    letter-spacing: .3px;
    display: inline-block;
}
.veriation{
    height: 25px;
    position: relative;
    bottom: -12px;
    width: 100%;
 
}
.price-veriation{
      height: 16.66px;
      width: 47.362px;
      display: inline-block; 
      background-color: #e0e0e0;
}
.line{
    position: relative;
    cursor: pointer;
}
.line .circle-one{
    width:13px; 
    height:13px;
    left:-12px;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #bababa;
    background-color: #fff;
}
.line .circle-two{
    width:13px;
    height:13px;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #bababa;
    background-color: #fff;
    right: -12px; 
}
.line .thin-line{
    background-color: #c2c2c2;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 6px;
}
.line .thick-line{
    height: 6px;
    position: absolute;
    width: 100%;
    background-color: #2874f0;
    top: 4px;
}
.price-range{
    margin-top: 25px;
    display: flex;
    align-items: center;
    z-index: 1;
}
.seclect{
    display: inline-block;
    flex: 2;
    padding: 0,5px;
    font-size: 14px;
} 
.two{
    display: inline-block;
    margin: 0 9px; 
    font-size: 14px;
    color: #878787;
    line-height: 1;
    text-align: center;
    font-family: "inter-Regular";
    flex: 1;
}
.brand-section{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 8px;
}
.brand-section .brand{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold'; 
}
.brand-section svg{
    transform: rotate(-90deg);
}
.assured{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}     
.assured-icon{
    display: flex;
    flex-direction: row;
}
.assured-icon img{
    margin-left: 11px;
}
.assured-mark mark{
    position: relative;
}
.assured-mark .question{
    color: #878787;
    background-color: #fff;
    font-weight: 500;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #e0e0e0; 
    line-height: 16px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
}
.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}
.rating p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.rating svg{
    transform: rotate(-90deg);

} 
.gst{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.gst p{  
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.gst svg{
    transform: rotate(-90deg);
} 
.ram{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.ram p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.ram svg{
    transform: rotate(-90deg);

} 
.internal-storage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.internal-storage p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.internal-storage svg{
    transform: rotate(-90deg);

} 
.battery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.battery p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.battery svg{
    transform: rotate(-90deg);

}
.screen{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.screen p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.screen svg{
    transform: rotate(-90deg);

}
  
.primary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.primary p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.primary svg{
    transform: rotate(-90deg);

}
.secondary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.secondary p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.secondary svg{
    transform: rotate(-90deg);

}
.processor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.processor p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.processor svg{
    transform: rotate(-90deg);
}
.speciality{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.speciality p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.speciality svg{
    transform: rotate(-90deg);
}
.flipkart{
    display: flex;
    min-width: 137px;
    justify-content: flex-end;
}
.resolution{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.resolution p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.resolution svg{
    transform: rotate(-90deg);
}
.operating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.operating p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.operating svg{
    transform: rotate(-90deg);
}
.network{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.network p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';    
}
.network svg{
    transform: rotate(-90deg);
}
.sim{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sim p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.sim svg{
    transform: rotate(-90deg);
}
.offers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.offers p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.offers svg{
    transform: rotate(-90deg);
}
.features{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.features p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.features svg{
    transform: rotate(-90deg);
}   
.types{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.types p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.types svg{
    transform: rotate(-90deg);
}  
.cores{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cores p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.cores svg{
    transform: rotate(-90deg);
}  
.availability{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.availability p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.availability svg{
    transform: rotate(-90deg);
}  
.discount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.discount p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.discount svg{
    transform: rotate(-90deg);
}  
.os{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.os p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.os svg{
    transform: rotate(-90deg);
}   
.clockspeed{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.clockspeed p{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-bold';   
}
.clockspeed svg{
    transform: rotate(-90deg);
}   
.Sub-section2 {
    padding-top: 30px;
    text-align: center;
    
}
.Sub-section2 .need{
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: black;
  font-family: "inter-Semibold";
}
.link-section{
    padding-top: 30px;  
}
.help p{
    margin-top: 5px;
    margin-bottom: 20px;
    color: #2874f0;
    line-height: 1;
    font-size: 18px;
    font-family: "inter-Regular";
    text-align: center;

}
.help{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.help svg{
    width: 6px;
    height: 12px;
    margin-left: 4px;
    transform: rotate(180deg);
    position: relative;
    top: -5px;
}
.sub-elements{
  display: flex;
  flex-direction: row;
  background: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.16);
  top: 40px;
  position: absolute;
  justify-content: space-around;
  width: 100%;
}
.second-section{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}
.sc-one{
    background-color: #fff;
    padding: 12px 16px 0;
    border-bottom: 1px solid #f0f0f0;
    min-height: 72px;             
}
.sub-sc-one{
    font-size: 12px;
    display: inline-block;
    white-space: nowrap;
}
.sub-sc-one a{
    text-decoration: none;
    border: none;
    color: #878787;
}
.sub-sc-one svg{
    transform: rotate(180deg);
    fill: #878787;
}
#clockspeed{
    margin: 7px 0;
}
#clockspeed-one{
   display:flex;  
    padding: 6px 0;
}
#clockspeed-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
}  
#discount{
    margin: 7px 0;
}
#discount-one{
     display:flex;  
    padding: 6px 0;
}
#discount-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
}  
#availability{
    margin: 7px 0;
}
#availability-one{
     display:flex;  
    padding: 6px 0;
}
#availability-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#core{
    margin: 7px 0;
}
#core-one{
     display:flex;  
    padding: 6px 0;
}
#core-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#types{
    margin: 7px 0;
}
#type-one{
     display:flex;  
    padding: 6px 0;
}
#type-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#features{
    margin: 7px 0;
}
#feature-one{
     display:flex;  
    padding: 6px 0;
}
#feature-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#offers{
    margin: 7px 0;
}
#offer-one{
     display:flex;  
    padding: 6px 0;
}
#offer-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#sim{
    margin: 7px 0;
}
#sim-one{
     display:flex;  
    padding: 6px 0;
}
#sim-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#network{
    margin: 7px 0;
}
#network-one{    
     display:flex;  
    padding: 6px 0;
}
#network-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#os{
    margin: 7px 0;
    padding:0 16px 12px 16px;
}
#os-one{  
     display:flex;  
    padding: 6px 0;
}
#os-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#resolution{
    margin: 7px 0;
    padding: 0 16px 12px 16px;
}    
#resolution-one{
     display:flex;  
    padding: 6px 0;  
}
#resolution-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#screen{
    margin: 7px 0;
    padding: 0 16px 12px 16px;
}
#screen-one{
     display:flex;  
    padding: 6px 0;  
}
#screen-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#primary{
    margin: 7px 0;
    padding: 0 16px 12px 16px;
}
#primary-one{
     display:flex;  
    padding: 6px 0;  
}
#primary-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#secondary{
    margin: 7px 0;
    padding: 0 16px 12px 16px;
}
#secondary-one{
     display:flex;  
    padding: 6px 0;  
}
#secondary-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#processor{
    margin: 7px 0;
    padding: 0 16px 12px 16px;
}
#processor-one{
     display:flex;  
    padding: 6px 0;  
}
#processor-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#internal{
    margin: 7px 0;
    padding: 0 16px 12px 16px;    
}
#internal-one{
     display:flex;  
    padding: 6px 0;     
}
#internal-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 
#battery{
    margin: 7px 0;
    padding: 0 16px 12px 16px;
}
#battery-one{
     display:flex;  
    padding: 6px 0;  
}
#battery-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 

#speciality{
    margin: 7px 0;
    padding: 0 16px 12px 16px;
}
#speciality-one{
     display:flex;  
    padding: 6px 0;  
}
#speciality-one p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
} 


#rating-chart{
 margin: 7px 0;   
}
#rating-check{
     display:flex;  
    padding: 0 16px 12px 16px;
}
#rating-check p{  
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular"; 
}
.gst-check{
    margin: 7px 0;
    display: flex;
    padding: 0 16px 12px 16px;
}
.gst-check p{
    padding-left: 11px;
    color: #212121;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
}
.mobile-container{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    padding: 24px 0 30px 24px;
    position: relative; 

}
.picture{
    height: 200px;
    width: 200px;
}
.picture {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; 
}
.card img {
  width: 100px;
  height: auto;
  border: 1px solid #ccc;
  padding: 4px;
}
#ram-child{   
    margin: 7px 0;
    display: flex;
    flex-direction: column;
    padding: 0 16px 12px 16px;
}
#ram-check{
    display: flex;
    flex-direction: row;
     padding: 6px 0; 
}
#ram-check p{
    padding-left: 11px;
    color: #212121;   
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
}
#electronic-slide{
    width: 100%;
    display: flex;
    justify-content: space-around; 
    top:60px;
    background-color: #fff;
    border-bottom-left-radius: 3px;  
    border-bottom-right-radius: 3px;
    z-index: 900;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.16);
}
#electronic-slide .heading{
    margin-top: 5px;
    padding:8px 0;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    font-family: "inter-Semibold"; 
}
#electronic-slide .sub-link{
    font-family: "inter-Regular";
    font-weight: 400;
    line-height: 1.4;
    font-size: 13px;  
    padding: 5px 0;
    color: #666;
}
#tv-Slide{
    width: 100%;
    display: flex;
    justify-content: space-around; 
    top:60px;
    background-color: #fff;
    border-bottom-left-radius: 3px;  
    border-bottom-right-radius: 3px;
    z-index: 900;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.16);
}
#tv-Slide .heading{
    margin-top: 5px;
    padding:8px 0;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    font-family: "inter-Semibold" ; 
}
#tv-Slide .sub-link{
    font-family: "inter-Regular";
    font-weight: 400;
    line-height: 1.4;   
    font-size: 13px;  
    padding: 5px 0;
    color: #666;
}
.sub-sc-two{
    display: flex;
    align-items: center;
}
.mb{
    font-weight: 500;
    font-size: 16px;
    margin-top: 8px;
    display: inline-block;
    line-height: 1.4;
    color: #212121;
    font-family: "inter-bold";
}
.span{
    display: inline-block;
    margin-left: 10px;
    color: #878787;
    font-size: 12px;
    font-family: 'inter-Regular';
    font-weight: 400;
    line-height: 1.4;
    margin-top: 8px;
}
.sub-sc-three{
    display: flex;

}
.sort{
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-weight: 500;
    padding: 8px 10px 4px 0;
    font-family: "inter-bold";
    font-size: 14px;
    color: #121212;
    line-height: 1.4;
}
.pop{
    padding: 8px 0 4px;
    margin: 0 10px;
    cursor: pointer;
    border-bottom:2px solid transparent;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    line-height: 1.4;
    font-family: "inter-Regular";
}
.align{
 display: flex;
 align-items: stretch;
 background-color: #fff;
 border-bottom: 1px solid #f0f0f0;
 padding: 24px 0 30px 24px;
 line-height: 1;
 position: relative;
}
.total-container{
    display: flex;
    position: relative;
    text-decoration: none;
} 
.picture{
    position: relative;
    height: 200px;
    width: 200px;
}
.addC{
    margin-top: 16px;         
    display: flex;
}  
.love_icon{   
    position: absolute;
    display: inline-block;
    top: 2px;   
    left:185px;
    cursor: pointer;
}
.mobile-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;           
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}
.compare{
    margin-left:8px;
    font-size: 14px;
    color: #212121;
    cursor: pointer;
    font-family: "inter-Regular";
}
.details{
    width: 58.33%;
    display: inline-block;
    margin-left: 25px;
}
.phone-name{
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    line-height: 1;
    font-family: "inter-Semibold";
    color: #212121;
}
.rating-section{
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rating-icon{
    display: inline-block;
    position: relative;
    line-height: normal;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    background-color: #388e3c;
}
.rating-icon svg{
    height: 10px;    
    margin:2px 0 0 2px; 
}
.rating-count{
    font-weight: 500;
    color: #878787;
    line-height: 1;
    font-size: 14px;   
    font-family: "inter-Semibold";
    padding-left: 8px;
}
.phone-details{
       margin-top: 13px;  
}
.description{
    margin-top: 5px;
    color: #212121;
    line-height: 22px;
    display: table;
}
.description li{  
  font-size:14px;
  font-weight: 400;
  font-family: 'inter-Regular';
  display: table-row;
}  
.before-item::before{
    content:"•" ;
    color: rgb(194,194,194);
    padding-right: 8px;
    display: table-cell;
}
.price{
    margin-left: 25px;
    width: 41.66%;
    display: inline-block;
}   
.amount{
  margin-top: -1px;
  padding-right: 10px;
  display: inline-block;
  cursor: pointer;
}
.content-div{
    display: flex; 
    justify-content: space-between; 
}
.discount-price{  
    font-size: 25px;
    font-weight: 500;
    color: #212121;
    cursor: pointer;
    line-height: 1;
    font-family: 'inter-bold';
}
.actual-price{
    padding-top: 10px;
    margin-left: 0;
    display: inline-block;
}  
.actual-price span{
    text-decoration: line-through;
    font-size: 14px;
    color: #878787;
    cursor: pointer;   

}
.offer{ 
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -.2px; 
    font-weight: 500;
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
    font-family:'roboto-regular';
}  
.offer-img{
    display: inline-block;
    vertical-align: top;
    padding-bottom: 4px;            
}
.phone-name:hover{    
    color: #2874f0;
}
#band-search{
    margin:7px 0; 
    display: flex;
    align-items: center;
}
#brand-search svg{ 
 position: absolute;
 width:12px; 
 height: 20px;  
 fill:#878787   
}
#brand-sub{
    margin-top: 7px;
    padding: 0 16px 12px 16px;
}
#brand-search{
    display: flex;
    align-items: center;
}
#brand-search input{
    width: 100%;
    border-width: 0 0 2px;
    border-color: #e0e0e0;
    height: 20px;
    color: #878787;
    outline: none;  
    padding-left: 27px;
}
#brand-name{   
    margin: 7px 0;
    display: flex;
    flex-direction: column;
}  
#band-more{
    display: flex;  
    flex-direction: row;
     padding: 6px 0; 
}
#band-more p{   
    padding-left: 11px;
    color: #212121;
    font-size: 14px; 
    white-space: nowrap;
    cursor: pointer;
    font-family: "inter-Regular";
}
footer{
    background-color:#172337;
    border: 1px solid #ddd;
    margin-top: 25px;
    width: 100%;
    text-align: left ;
}
#inside-div{
    padding-top: 40px;
    margin-left: 65px;
    display: flex;
}
.f1{
       flex: 1;
       flex-direction: column;
}
.f1 p{
    color: #878787;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-family: "inter-Regular";
}          
 .f1 a{
    display: flex;
    line-height: 2;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    font-family: "inter-Regular";
}   
 .f1-sub{
    border-left: 1px solid #5fd827;
    padding: 0 25px;
}   
.f1 .p-sub{
   text-transform: none;
}  
.footer-description{  
     font-size: normal;
     color: #fff;
     margin-bottom: 16px;
}  
.f1 .address{
    color: #fff;
    line-height: 1;
    font-size: 12px; 
    font-weight: 400;
    font-family: "inter-Regular";
    text-transform: none;
}    
.social{
    color:#878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
    font-family: "inter-Regular";
}
.link-icon{
    display: flex;
    height: 24px;
    width: 24px;
    align-items: center;    
}
.link-icon span{
    padding: 2px;
    color: #fff;
    margin-right: 16px;
}
.address .phone-number{
    color: #2874f0;
    font-weight: 500;
    display: inline-block;
    font-size: 12px    ;
}
.number{
    display: flex;     
    
}
footer .f2{
    border-top: 1px solid #454d5e;
    padding: 25px 0;
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;      
}
.sub-f2 a{
    color: #fff;
    text-decoration: none;
    margin-left: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-family: "inter-Regular";
}    
.f2 p{
    font-family: "inter-Regular";
    font-size: 14px;
    font-weight: 400;    
    color: #fff;
    line-height: 1.4px;
}
.page-showing{
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    line-height: 32px;
    
}
.page-showing p{
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    font-family: "inter-Regular";
     
}
.page-showing .link a:nth-child(1){
    background-color: #2874f0;
    color: #fff;
    display: inline-block; 
    padding: 0 8px;
    cursor: pointer; 
    line-height: 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%; 
    text-decoration: none;
    text-align: center;
  
}
.page-showing .link{
     width: 60%;
}
.page-showing .link a{
  color: black;   
  text-decoration: none;
  font-family: "inter-Regular";
  
}
.page-showing .link .next{
    display: inline-block;
    line-height: 32px;  
    color: #2874f0; 
    padding:0 25px;
    justify-content: center;
    text-transform: uppercase;
    font-family: "inter-Regular";
    font-size: 14px;
}
.question{ 
    margin-top: 10px;
    background-color: #fff;
    font-size: 14px;
    padding: 16px; 
    display: flex;  
}
.question p{  
    font-weight: 500;
    font-size: 16px;
    font-family: "inter-Semibold";
    color: #212121;  
}
.question .button{
    display: inline-block;
    margin-left: 24px;
    font-size: 16px;
}
.question .button button{
    border-radius: 2px;
    border: 1px solid #d7d7d7;
    padding: 6px 28px;
    margin-right: 8px;
    font-weight: 500;
    background-color: #fff;
}